html, body {
  height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  color: hsl(0, 36%, 70%);
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

header {
  padding: 2rem;
}

h2 {
  width: 80%;
  margin: 0 auto 1.5rem auto;
  font-size: 3rem;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: .5rem;
}

h2 > strong {
  color: hsl(0, 0%, 0%);
}

#logo {
  width: 158px;
  height: auto;
}

.introduction {
  width: 85%;
  margin: 4rem auto 2rem auto;
  text-align: center;
  font-weight: 200;
}

.introduction > div {
  line-height: 1.5rem;
}

form {
  width: 85%;
  margin: 0 auto;
  position: relative;
}

label, input {
  width: 100%;
}

.inputForm {
  padding: 1rem;
  border: 1px solid hsla(0, 36%, 70%, 0.5);
  border-radius: 30px;
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.inputForm::placeholder {
  color: hsla(0, 36%, 70%, 0.5);
}

#submitBtn {
  width: 20%;
  height: 100%;
  background: url('../images/icon-arrow.svg') 50% no-repeat, linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border: 1px solid hsl(0, 80%, 86%);
  border-radius: 30px;
  cursor: pointer;
}

@media (min-width: 576px) {
  #headerImage {
    float: right;
    content: url('../images/hero-desktop.jpg');
    width: 40%;
    height: 100%;
  }

  header, .introduction, form {
    float: left;
  }

  header {
    width: 60%;
    padding: 0;
  }

  h2 {
    margin: 0;
    text-align: start;
    font-size: 4rem;
    padding-bottom: 1rem;
  }

  #logo {
    position: relative;
    left: 20%;
    transform: translateX(-30%);
    padding-top: 2rem;
  }

  .introduction {
    width: 30%;
    margin: 0;
    text-align: start;
    position: relative;
    left: 20%;
    transform: translateX(-40%);
    padding: 6rem 0 1rem 0;
  }

  form {
    clear: left;
    width: 30%;
    position: relative;
    left: 20%;
    transform: translateX(-40%);
  }
}